.container{
    display: flex;
    border: solid 3px yellow;
    height: 200px;
    width: 400px;

    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
}

.box{
    background-color: aquamarine;
    min-width: 100px;
    height: 100px;
    margin: 8px;
}